run = "npm run dev"
hidden = [".config", "package-lock.json", ".git"]
entrypoint = "src/pages/index.tsx"

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/.local/bin:/home/runner/.cargo/bin:/home/runner/.nix-profile/bin:/nix/var/nix/profiles/default/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
NODE_PATH = "/home/runner/.local/share/npm/node_modules"

[packages]
nodejs = "18.x"
python3 = "3.10"
rust = "1.70.0"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"] 